@if(isAddingContact){
<app-new-contact [userId]="userId" (close)="onCloseAddContact()" />
}
<app-header />
<div id="contact-actions">
  <app-card>
    <button (click)="onStartAddContact()">Add new contact</button>
  </app-card>
  <app-card>
    <button id="remove-contact" (click)="onRemoveContact()">
      Remove contact
    </button>
  </app-card>
</div>
<main>
  <ul id="contacts">
    @for(contact of contacts; track contact.userId){
    <li>
      <app-user
        [contact]="contact"
        [selected]="selectedContactId === contact.userId"
        (select)="onSelectContact($event)"
      />
    </li>
    }
  </ul>

  @if(selectedContact){
  <app-contact [contact]="selectedContact" />
  } @else {
  <h2 id="fallback">Select a user to see their info!</h2>
  }
</main>
<app-footer />
