main {
  width: 90vw;
  max-width: 1200px;
  min-height: 50vh;
  margin: 2.5rem auto;
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
}

#contacts {
  list-style: none;
  margin: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 50vh;
  overflow: auto;
}

/* Estilo da barra de rolagem */
::-webkit-scrollbar {
  width: 18px;
  height: 2px;
}

/* Fundo da barra */
::-webkit-scrollbar-track {
  background: var(--bg-color); /* ou qualquer cor desejada */
  border-radius: 10px;
}

/* Cor da parte móvel */
::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 10px;
  border: 2px solid var(--bg-color); /* cria um espaço ao redor */
}

/* Cor da parte móvel ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--highlight-color);
}

#contact-actions {
  width: 100%;
  max-width: 1200px;
  margin: 2.5rem auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

#contact-actions #remove-contact {
  background-color: var(--remove-btn-color);
}

#contact-actions #remove-contact:hover {
  background-color: var(--remove-btn-hover-color);
}

#fallback {
  font-weight: bold;
  font-size: 1.15rem;
  margin: 0;
  text-align: center;
}

@media (min-width: 768px) {
  main {
    margin: 1.5rem auto;
    grid-template-columns: 40% 60%;
  }

  #contact-actions {
    width: 90vw;
    margin: 2rem auto;
  }

  #contacs {
    flex-direction: column;
  }

  #fallback {
    font-size: 1.5rem;
    text-align: center;
    vertical-align: middle;
  }
}
