<app-header />
<main>
  <ul id="contacts">
    @for(contact of contacts; track contact.userId){
    <li>
      <app-user
        [contact]="contact"
        [selected]="contact.userId == selectedContactId"
        (select)="onSelectContact($event)"
      />
    </li>
    }
  </ul>

  @if(selectedContact){
  <app-contacts
    [userId]="selectedContact.userId"
    [name]="selectedContact.name"
  />
  } @else {
  <h2 id="fallback">Select a user to see their info!</h2>
  }
  <footer>ANY FOOTER</footer>
</main>
